{% extends 'basic.html' %}
{% load static %}
{%block title%}Log In Page{%endblock%}

{% block css %}
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'poppins', sans-serif;
    }

    .navbar {
        display: none;
    }

    .footer {
        display: none
    }

    .login-page {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-items: center;
        overflow-y: hidden;
    }

    .Login {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 90%;
        height: 90%;
        margin: auto;
        z-index: 3;
        background-clip: padding-box;
        border-radius: 30px;
        background-color: #ffffff10;
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        box-shadow: 0 25px 45px rgb(0, 0, 0, 0.1);
        border: 1px solid rgb(255, 255, 255, 0.5);
        border-right: 1px solid rgb(255, 255, 255, 0.2);
        border-bottom: 1px solid rgb(255, 255, 255, 0.2);
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    }

    .Logincontent {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .Logincontent h1 {
        font-size: 8em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background: linear-gradient(to right, red, black);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        text-align: center;
    }

    .Logincontent p {
        font-size: 2rem;
        padding: 1rem 0;
        font-weight: 300;
        width: 100%;
        text-align: center;
    }

    .Login .bookimage {
        width: 35rem;
        height: 40rem;
        position: relative;
    }

    .bookimage img {
        display: block;
        width: 100%;
        height: 100%;

    }

    .form1 {
        background-color: #ffffff10;
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        width: 35rem;
        height: 45rem;
        padding: 3rem;
        background-clip: padding-box;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        box-shadow: 0 25px 45px rgb(0, 0, 0, 0.1);
        border: 1px solid rgb(255, 255, 255, 0.5);
        border-right: 1px solid rgb(255, 255, 255, 0.2);
        border-bottom: 1px solid rgb(255, 255, 255, 0.2);
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    }

    .form1 h2 {
        text-transform: capitalize;
        color: #444;
        font-weight: 500;
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .form1 input {
        width: 100%;
        background: rgb(255, 255, 255, 0.2);
        border: none;
        outline: none;
        padding: 10px 20px;
        border-radius: 35px;
        border: 1px solid rgb(255, 255, 255, 0.5);
        border-right: 1px solid rgb(255, 255, 255, 0.2);
        border-bottom: 1px solid rgb(255, 255, 255, 0.2);
        font-size: 16px;
        letter-spacing: 1px;
        color: #444;
        margin: 0.5em;
    }

    /* ########### show and hide pass button ############ */
    .show-or-hide-pass {
        display: flex;
        align-items: center;
        margin: 10px 20px;
    }

    .show-or-hide-pass input[type="checkbox"] {
        width: 4rem;
        height: 2rem;
        padding: 10px 20px;
        color: #444;
        -webkit-appearance: none;
        background: transparent;
        outline: none;
        border-radius: 20px;
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
        transition: 0.5s;
        position: relative;
    }

    .show-or-hide-pass input:checked[type="checkbox"] {
        background: rgb(255, 255, 255, 0.2);
    }

    .show-or-hide-pass input[type="checkbox"]:before {
        content: '';
        position: absolute;
        width: 2rem;
        height: 2rem;
        border-radius: 20px;
        top: 0;
        left: 0;
        background: #fff;
        transform: scale(1.1);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        transition: 0.5s;
    }

    .show-or-hide-pass input:checked[type="checkbox"]:before {
        position: absolute;
        left: 2rem;
    }

    .show-or-hide-pass h3 {
        padding: 0 1em;
        color: #444;
        font-weight: 500;
    }

    .forget {
        margin-top: 10px;
        color: #444;
    }

    .forget a {
        margin-top: 5px;
        color: #444;
    }

    @media (max-width:500px) {
        .login-page {
            overflow: hidden;
        }

        .Login {
            height: 95%;
            flex-direction: column;
            margin-top: 1rem;
            overflow: hidden;
            background-color: #ffffff10;
            backdrop-filter: blur(12px);
            -webkit-backdrop-filter: blur(12px);
            justify-content: center;

        }

        .Logincontent {
            width: 100%;
            height: 21rem;
            /* transform: rotate(326deg); */
        }

        .Logincontent h1 {
            font-size: 4rem;
        }

        .Logincontent p {
            font-size: 1.5rem;
        }

        .Logincontent .bookimage {
            height: 38rem;
            width: 90%;
            display: none;
        }

        .form1 {
            border: none;
            background: none;
            box-shadow: none;
            width: 100%;
            max-width: 32rem;
            backdrop-filter: none;
        }

    }
</style>


{% endblock %}

{%block body%}
<section class="login-page" id="loginpage ">

    <div class="Login" id="LoginUI">
        <div class="Logincontent">
            <div class="bookimage">
                <img src="{% static 'images/h121.png' %}" alt="">
            </div>
            <h1 class="main-title">Helping Books</h1>
            <p>Help The People Who Does Not Afford The Books</p>

        </div>

        <div class="form1">
            <h2>Welcome to the Password Reset Page</h2>
            <h3>
                Forgot your password? Please enter the email address you used to register
                with us and we will send you a link to reset your password
            </h3>
            <form action="" method="POST" class="text-center">
                {% csrf_token %}



                <div class="inputBox">
                    <input type="email" Name="email" placeholder=" Enter Email Here" required>
                </div>
                <div class="inputBox">
                    <button class="btn"><a>Send</a>
                </div>
                <p class="forget">Return To Login Page<a href="{% url 'login'%}">Click Here</a></p>
            </form>
        </div>
    </div>



</section>

{%endblock%}